<%= form_for(@kardex) do |f| %>
  <% if @kardex.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kardex.errors.count, "error") %> prohibited this kardex from being saved:</h2>

      <ul>
      <% @kardex.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :detail %><br>
    <%= f.text_field :detail %>
  </div>
  <div class="field">
    <%= f.label :income %><br>
    <%= f.number_field :income %>
  </div>
  <div class="field">
    <%= f.label :output %><br>
    <%= f.number_field :output %>
  </div>
  <div class="field">
    <%= f.label :residue %><br>
    <%= f.number_field :residue %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
