<% if current_user %>
<% if current_user.rol == "tecnico" || current_user.rol == "gerente" %>
<% title "Añadir problemas/reparaciones" %>
<div class="hero-unit">

	<center><h1>Añadir problemas/reparaciones</h1></center></br>
	<h3 class="text-info" align="right">Nº: <%= @technical_service.id %></h3>
	<h2 class="text-info"><%= @technical_service.product_name %></h2><br>
		<%= form_validated_for(@technical_service) do |f| %>	  	
				<div class="col-xs-3">

					<p><%= f.label :detail , "*Detalle:" %>
					<%= f.text_area :detail%>
			
					<p><%= f.label :problems , "*Problemas:" %>
					<%= f.text_area :problems %>

					<p><%= f.label :repairs , "*Reparaciones:" %>
					<%= f.text_area :repairs %>

					<p><%= f.label :status, "*Estado:" %>
		        	<%= f.select :status, options_for_select([['En reparacion', 'En reparacion'], ['Finalizado', 'Finalizado']]) %>

					<p><%= f.submit "Guardar", class: "btn btn-large btn-jordi" %></p>
				</div>			
		<%end%>
</div>


    <%else%>
    <%flash[:danger] = "ACCESO RESTRINGIDO"%>
    <center><img src="/images/candado.png"></center>
  <%end%>
<%end%>