<% if current_user %>
<% if current_user.rol == "secre" || current_user.rol == "gerente" %>
<% title "Lista de Salidas" %>
<div class="hero-unit">
<h1>Lista de Salidas</h1>
<div align="right">
<%= link_to 'Registrar Salida', {:controller => "sales", :action => "create", :price => '0', :confirmed => 'false', :check_number => rand(1000..9999), :nit =>'1111111', :client_name => "Harry"},:class => 'btn btn-jordi', :method => "post" %><br><br>
</div>


<div >
<br>
<form method="GET" action="/sales/search">
Empleado: <input type="text" name="name" placeholder="Nombre de empleado"> &nbsp;&nbsp;&nbsp;
<input type="submit" value="Buscar por empleado", class="btn btn-info">
</form>
</div>



<div>
<br>
<form method="GET" action="/sales/searchProduct">
Insumo: <input type="text" name="producto" placeholder="Nombre de insumo"> &nbsp;&nbsp;&nbsp;
<input type="submit" value="Buscar por insumo", class="btn btn-info">
</form>
</div>



<div>
<br>
<form method="GET" action="/sales/searchDate">
Fecha: <input type="date" name="date"> &nbsp;&nbsp;&nbsp;
<input type="submit" value="Buscar por fecha", class="btn btn-info">
</form>
</div><br><br>


<CENTER>

<table class="table table-striped">
    <thead>
        <tr>
            <th><Center>Nombre del empleado</Center></th>
            <th><Center>Numero de salida</Center></th>
            <th><Center>Precio</Center></th>
            <th><Center>Estado</Center></th>
            <th></th>       
            <th></th>       
        </tr>
    </thead>
    <tbody>
        <% @sales.each do |sale| %>
            <tr>
                <td>
                    <CENTER>
                        <%if sale.client_name != "Harry"%>
                            <%= sale.client_name %>
                        <%else%>
                            No Registrado
                        <% end %>
                    </CENTER>
                </td>
                <td>
                    <CENTER>
                        <%if sale.confirmed == true %>
                            <%= sale.check_number%>
                        <%else%>
                            No Registrado
                        <%end%>
                    </CENTER>
                </td>
                <td><CENTER><%= number_with_precision(sale.price, :precision => 2, :delimiter => ',') %></CENTER></td>
                <%if sale.confirmed == true %>
                    <td><CENTER>Confirmada</CENTER></td>
                    <%else%>
                    <td><CENTER>Reservado</CENTER></td>
                    <%end%>
                <%if sale.confirmed == true %>
                <td><%= link_to 'Ver salida', {:controller => :sales, :action => "show", :id => sale.id }, :class => 'btn btn-mini btn-success'  %></td>
                <%else%>
                <td><%= link_to 'Editar salida', {:controller => :sales, :action => "show", :id => sale.id }, :class => 'btn btn-mini btn-warning'  %></td>
                <%end%>
            </tr>
        <% end %>
    </tbody>
</table>
<Center><%= will_paginate @products, :previous_label => 'Anterior', :next_label => 'Siguiente' %></Center>
<br>
</Center>
</div>

  <%else%>
    <%flash[:danger] = "ACCESO RESTRINGIDO"%>
    <center><img src="/images/candado.png"></center>
  <%end%>
<%end%>