<% if current_user %>
<% if current_user.rol == "secre" || current_user.rol == "gerente" %>
<% @total = 0%>
<% title "Reporte de Ventas" %>
<HTML>
    <HEAD>
        <link rel="stylesheet" href="print.css" type="text/css" media="print" />
    </HEAD>
    <BODY onLoad="window.print();">
        <div class="hero-unit">
            <h1>Reporte de Ventas</h1>
            <br>
            <CENTER>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><Center>Nombre del cliente</Center></th>
                            <th><Center>Numero factura</Center></th>
                            <th><Center>Precio</Center></th>
                            <th></th>       
                            <th></th>       
                        </tr>
                    </thead>
                    <tbody>
                        <% @sales.each do |sale| %>
                            <%if sale.confirmed == true%>
                                <tr>
                                    <td><CENTER><%= sale.client_name %></CENTER></td>
                                    <td><CENTER><%= sale.check_number%></CENTER></td>
                                    <td><CENTER><%= sale.price %>Bs.</CENTER></td>
                                    <td>
                                        <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#<%=sale.id%>">Detalles</a>
                                        <div class="modal fade" id="<%=sale.id%>" tabindex="-1" role="dialog" aria-labelledby="<%=sale.id%>" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" id="myModalLabel"><CENTER>Productos Vendidos</CENTER></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <Center>
                                                            <h4>Detalle</h4>
                                                        </Center>
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th><Center>Nombre</Center></th>
                                                                    <th><Center>Codigo del SubProducto</Center></th>
                                                                    <th><Center>Precio De Venta</Center></th>        
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% sale.productsales.each do |subproduct| %>
                                                                    <tr>
                                                                        <td><CENTER><%= subproduct.name %></CENTER></td>
                                                                        <td><CENTER><%= subproduct.code %></CENTER></td>
                                                                        <td><CENTER><%= subproduct.price %> Bs.</CENTER></td>
                                                                        <%=@total += subproduct.price%>
                                                                    </tr>
                                                                <%end%>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>            
                            <% end %>
                        <% end %>
                    <tr>
            <td><h4><CENTER><b>TOTAL</b></CENTER></h4></td>
            <td></td>
            <td><h4><CENTER><b><%= @total%>Bs.</b></CENTER></h4></td>
            <td></td>
        </tr>
    </tbody>
</table>
<br>
</Center>
</div>
</CENTER>
</div>
</BODY>
</HTML>


    <%else%>
    <%flash[:danger] = "ACCESO RESTRINGIDO"%>
    <center><img src="/images/candado.png"></center>
  <%end%>
<%end%>