<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container" style="height: 50px;">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">FOGON DE MARIA</a>
    </div>
    <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">            
          <% if current_user %>
           <!-- <% if current_user.rol == "admin" || current_user.rol == "gerente" %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pagina<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Productos de pagina</li>
                <li><a href="/products/">Administracion de pagina</a></li>
                <li><a href="/products_home/">Productos de pagina</a></li>
                <li class="dropdown-header">Categorias</li>
                <li><a href="/categories/new">Crear categoria</a></li>
                <li><a href="/categories">Lista de categorias</a></li>
              </ul>
            </li>
            <%end%>-->
            <% if current_user.rol == "enc_almacen" || current_user.rol == "gerente" %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Insumos<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Marcas</li>
                <li><a href="/brands/new">Registrar marca</a></li>
                <li><a href="/brands">Lista de marcas</a></li>
                <li class="dropdown-header">Insumos</li>
                <li><a href="/productnames/new">Registrar Insumo</a></li>
                <li><a href="/productnames">Lista de Insumos</a></li>
                <li><a href="/products">Stock de Insumos</a></li>
              </ul>
            </li>
            <%end%>


            <% if current_user.rol == "secre" || current_user.rol == "gerente" || current_user.rol == "enc_almacen"%>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Ingresos<b class="caret"></b></a>
              <ul class="dropdown-menu">                
                <li class="dropdown-header">Pedidos</li>
                <li><%= link_to 'Registrar pedido', {:controller => "orders", :action => "create", :numero_pedido => (rand() * 100).to_i, :id => '1', :estado => 'Pendiente', :ingresado =>false, :provider_id => "1"}, :method => "post" %></li>
                <li><a href="/orders">Lista de pedidos</a></li>
                <!--<li class="dropdown-header">Reportes</li>
                <li><a href="/incomes/report_search">Reporte de ingresos</a></li>-->
              </ul>
            </li>
            <%end%>          

            <% if current_user.rol == "secre" || current_user.rol == "gerente" %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Salidas<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Registrar Salida', {:controller => "sales", :action => "create", :price => '0', :confirmed => 'false', :check_number => rand(1000..9999), :nit =>'1111111', :client_name => "Harry"}, :method => "post" %></li>
                <li><%= link_to "Lista de Salida", sales_path %></li>
                <li><a href="/sales/report_search">Reporte de Salidas</a></li>
                <!--<li><a href="/outflows/report_search">Reporte de egresos</a></li>-->
              </ul>
            </li>
            <%end%>
            <!--
            <% if current_user.rol == "tecnico" || current_user.rol == "gerente" %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicio Tecnico<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/technical_services/new">Registrar servicio</a></li>
                <li><a href="/technical_services">Buscar servicios</a></li>
                <li><a href="/technical_services/report_search">Reporte de servicios</a></li>
              </ul>
            </li>
            <%end%>-->
            <!--
            <% if current_user.rol == "tecnico" || current_user.rol == "gerente" || current_user.rol == "secre" %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clientes<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/clients/new">Registrar cliente</a></li>
                <li><a href="/clients">Lista de clientes</a></li>
              </ul>
            </li>
            <%end%>-->
              <% if current_user.rol == "secre" || current_user.rol == "gerente" || current_user.rol == "enc_almacen"%>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Proveedores<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Proveedores</li>
                <li><a href="/providers/new">A침adir proveedor</a></li>
                <li><a href="/providers">Lista de proveedores</a></li>              
              </ul>
            </li>
            <%end%>         

            <% if current_user.rol == "admin" || current_user.rol == "gerente" %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuarios<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/users/new">Crear usuario</a></li>
                <li><a href="/users/">Lista de usuarios</a></li>
              </ul>
            </li>
            <%end%>
          <%end%>
          </ul>

          <p class="navbar-text navbar-right">
            <% if current_user%>
              <%= link_to "Cambiar Contrase침a", {:controller => :users, :action => 'edit', :id => current_user.id}, :class => "btn btn-xs btn-warning"%>
              <%= link_to "Cerrar sesi칩n", logout_path, :class => "btn btn-xs btn-danger" %>
            <% else %>
              <%= link_to "Iniciar sesi칩n", login_path, :class => "btn btn-xs btn-info" %>
            <% end %>
          </p>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function()
    {
        var cambio = false;
        $('.nav li a').each(function(index) 
        {
            if(this.href.trim() == window.location)
            {
                $(this).parent().addClass("active");
                $('.nav a li').addClass("active");
                cambio = true;
                      $(this).parent().addClass("active");              
            }
        });
        if(!cambio)
        {
              $(this).parent().addClass("active");
        }
    });
</script>

